@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.logo{
    font-size: 25px;
    font-weight: 800;
}

.logo i{
    font-weight: 900;
    font-size: 60px;
}

ul li{
    font-weight: 600 ;
}

#learn{
    padding: 10px;
}

#slide-out{
    background-color: white;
}

body{
    height: 1000px;
}